body {
  background-color: pink;
  }
.topnav {
	background-color: #333;
	overflow: hidden
}
.topnav a {
  float: canter;
  color: salmon;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: magenta;
  color: black;
}
.topnav a.active {
  background-color: coral;
  color: white;
}
h1 {
  color: magenta; text-align: center;
}
h2 {
  color: magenta;
}
p {
  color: blue;
}
li {
  border-style: 1px solid black;
}
p#njabulis {
	font-size:8px;
}
