body {
  background-color: pink;
  }
h1 {
  color: magenta; text-align: center;
}
h2 {
  color: magenta;
}
p {
  color: blue;
}
li {
  border: 1px solid black;
  padding-right: 0px;
  padding-left: 28px;
  width: 50px;
  border-radius: 5px;
}
p#njabulis {
	font-size:8px;
}
