body {
  background-color: pink;
  }
h1 {
  color: magenta; text-align: center;
}
h2 {
  color: magenta;
}
p {
  color: blue;
}
ul {
	border: 1px solid black;
}

p#njabulis {
	font-size:8px;
}
