body {
  background-color: pink;
  }
h1 {
  color: magenta; text-align: center;
}
h2 {
  color: magenta;
}
p {
  color: blue;
}
ul.a {
  list-style-type: square;
}
p#njabulis {
	font-size:8px;
}
div.a {
	text-align: center;
}